.container{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: blue (247, 249, 250);
    padding: 2px 2px 2px 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
header{
    text-align: center;
    background-color: blue (7, 152, 189, 0.877);
    color: rgb(182, 15, 15);
    padding: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}
main{
    border: 2px dashed rgba(247, 245, 241, 0.973);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.personal{
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .personal{
        display: flex;
        flex-direction: column;
    }
    .left{
        flex: 100%;
    }
  }

.left{
    flex: 82%;
}
.right{
    flex: 18%;
}
.left table tr td{
    padding: 0px 10px 10px 0px;
    border: none;
    
}
.education table,th,td{
    padding: 10px;
    border: 1px solid rgb(70, 68, 68);
    border-collapse: collapse;
    
}
.education table #year{
    width: 80px;
    
}
.project table,th,td{
    padding: 10px;
    border: 1px solid rgb(70, 68, 68);
    border-collapse: collapse;
    
}
thead{
    background-color: rgb(141, 139, 139);
    color: white;
}
table{
    width: 100%;
}
.project,.education{
    overflow-x: scroll;
}
ul > li{
    margin-bottom: 10px;
}